.Card{
    background-color: #EDDDFF ;
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: center;
    flex-direction: column;
}

.CardText{
    display: flex;
    font-family: Friz-Quadrata-Std-Medium;
    justify-content: center;
    align-items: top;
    margin-top: 20px;
    font-size: 70px;
    font-weight: bolder;
    color: black;
   
}

.imageOne{
    width: 20vw;
    height: 20vw;
}

.Images{
    display: flex;
    justify-content: center;
}