.NavBar{
    
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.Home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-left: 30px;
}

.HomeText{
    font-size: 20px;
    font-family: Friz-Quadrata-Std-Medium;
    font-weight: bold;
}

.HomeText:hover{
    color: #FEE99B;
    cursor: pointer;
}

.Builds{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-left: 20px;
}

.BuildsText{
    font-size: 20px;
    font-family: Friz-Quadrata-Std-Medium;
    font-weight: bold;
}

.BuildsText:hover{
    color: #FEE99B;
    cursor: pointer;
}

.Items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-left: 20px;
}

.ItemsText{
    font-size: 20px;
    font-family: Friz-Quadrata-Std-Medium;
    font-weight: bold;
}

.ItemsText:hover{
    color: #FEE99B;
    cursor: pointer;
}

.Augments{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-left: 20px;
}

.AugmentsText{
    font-size: 20px;
    font-family: Friz-Quadrata-Std-Medium;
    font-weight: bold;
}

.AugmentsText:hover{
    color: #FEE99B;
    cursor: pointer;
}

.Feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-left: 20px;
    
}

.FeedbackText{
    font-size: 20px;
    font-family: Friz-Quadrata-Std-Medium;
    font-weight: bold;
}

.FeedbackText:hover{
    color: #FEE99B;
    cursor: pointer;
}

.Profile{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 200px;
    height: 50px;
    margin-left: 20px;
  
}

