
.TopBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 10vh;
   
    
}

.TypeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 6vh;
    width: 12vw;
}

.ButtonText{
    font-family: Friz-Quadrata-Std-Medium;
    font-size: large;
    font-weight: bold;
}

.TypeButton:hover{
    cursor: pointer;
}

.SelectedButton{
    background-color: #EDDDFF;
    border: 3px solid black;
    border-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 12vw;

}