.Home{
    display: flex;
    width: 100vw;
    height: 94vh;
    justify-content: center;
    flex-direction: column;
    
}

.MainPage{
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 742px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 2rem 6rem;
}
