.Home{
    background-color: #EDDDFF ;
    display: flex;
    width: 100vw;
    height: 94vh;
    justify-content: center;
    flex-direction: column;
    
}

.HomeText{
    display: flex;
    font-family: Friz-Quadrata-Std-Medium;
    justify-content: center;
    align-items: top;
    font-size: 70px;
    margin-bottom: 30px;
    font-weight: bold;
    color: white;
   
}

.imageOne{
    margin-top: 50px;
    width: 20vw;
    height: 20vw;
}

.Images{
    display: flex;
    justify-content: center;
}