.body{
    background: #EDC8E5;  
}

.form{
    display: flex;
    width: 550px;
    margin: 100px auto;
    height: 400px; 
    background-color: #EDDDFF;
    align-content: center;
    border-radius: 15px;
}

.form-body{
    display: block;
    gap: 20px;
    padding: 60px 20px;
    height: 20%;
    border: 1px white;

}

.form-body > *{
    padding: 15px;
}

.form__label{
    display: block;
    text-align: justify;
    width: 50%;
    margin-left: 150px ;
    margin-bottom: 5px;
    font-family: Inter;
    font-size: large;
    font-weight: bold;
    
}

.form_input{
    width: 70%;
}

.image{
    position: absolute;
    width: 400px;
    height: 213;
    left: 0px;
    top: 80px;
}
.Images{
    display: flex;
    justify-content: center;
}
.text{
    font-family: Inter;
    justify-content: center;
    color: black;
    font-size: large;
    font-weight: bold;

}
.button{
    justify-content: center;
    background-color: #f0c369;
    font-family: Inter;
    border: #f0c369;
    font-size: medium;
    font-weight: bold;
    position: absolute;
    width: 100px;
    left: 1225px;
    top: 530px;
}
